<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>Project1</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- FORWARDING MASTER SERVLET CONFIGURATIONS -->
	<servlet>
		<description>ForwardingMasterServlet</description>
		<display-name>ForwardingMasterServlet</display-name>
		<servlet-name>ForwardingMasterServlet</servlet-name>
		<servlet-class>com.example.servlet.ForwardingMasterServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ForwardingMasterServlet</servlet-name>
		<url-pattern>/forwarding/*</url-pattern>
		<url-pattern>*.forward</url-pattern>
	</servlet-mapping>
	
	<!-- JSON SERVLET CONFIGURATIONS -->
	<servlet>
		<description>JSONServlet</description>
		<display-name>JSONServlet</display-name>
		<servlet-name>JSONServlet</servlet-name>
		<servlet-class>com.example.servlet.JSONMasterServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>JSONServlet</servlet-name>
		<url-pattern>/JSON/*</url-pattern>
		<url-pattern>*.JSON</url-pattern>
	</servlet-mapping>
</web-app>